<div class="docs-api">
  <p>
    <span class="docs-api-class-selector-label">Selector:</span>
    <span class="docs-api-class-selector-name">button[mdc-button]</span>
    <span class="docs-api-class-selector-name">a[mdc-button]</span>
  </p>
  <table>
    <thead>
      <tr>
        <th>Properties</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>primary: boolean</td>
        <td>Colors the button with the primary theme color.</td>
      </tr>
      <tr>
        <td>secondary: boolean</td>
        <td>Colors the button with the secondary theme color.</td>
      </tr>
      <tr>
        <td>dense: boolean</td>
        <td>Compresses the button text to make it slightly smaller.</td>
      </tr>
      <tr>
        <td>raised: boolean</td>
        <td>A contained button that is elevated upon the surface.</td>
      </tr>
      <tr>
        <td>unelevated: boolean</td>
        <td>A contained button that is flush with the surface.</td>
      </tr>
      <tr>
        <td>outlined: boolean</td>
        <td>A contained button that is flush with the surface and has a visible border.</td>
      </tr>
      <tr>
        <td>disabled: boolean</td>
        <td>Disables the button.</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>Methods</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>focus()</td>
        <td>Focuses the button.</td>
      </tr>
    </tbody>
  </table>
</div>
